[submodule "my_timing"]
	path = my_timing
	url = https://gist.github.com/JaedenBardati/e953033508000f637a4121982429a56e
[submodule "file_arguments"]
	path = file_arguments
	url = https://gist.github.com/JaedenBardati/81c4543b84a49584ea09bf529fbdf29c
